---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';


import { Amplify } from 'aws-amplify';

//import awsconfig from '../aws-exports';
const awsconfig = {
    "aws_project_region": "us-east-2",
    "aws_cognito_region": "us-east-2",
    "aws_user_pools_id": "us-east-2_MW3SHssD6",
    "aws_user_pools_web_client_id": "24416glrtm2akohcaje207pnnf",
    "oauth": {
        "domain": "thousandx.auth.us-east-2.amazoncognito.com"
    },
    "aws_cognito_username_attributes": [],
    "aws_cognito_social_providers": [],
    "aws_cognito_signup_attributes": [
        "EMAIL"
    ],
    "aws_cognito_mfa_configuration": "OPTIONAL",
    "aws_cognito_mfa_types": [
        "SMS",
        "TOTP"
    ],
    "aws_cognito_password_protection_settings": {
        "passwordPolicyMinLength": 8,
        "passwordPolicyCharacters": [
            "REQUIRES_LOWERCASE",
            "REQUIRES_UPPERCASE",
            "REQUIRES_NUMBERS",
            "REQUIRES_SYMBOLS"
        ]
    },
    "aws_cognito_verification_mechanisms": [
        "EMAIL"
    ]
};
Amplify.configure(awsconfig);

import { Auth } from 'aws-amplify';


async function currentAuthenticatedUser() {
  try {
    const user = await Auth.currentAuthenticatedUser({
      bypassCache: false // Optional and is false by default. If set to true, this call 
      // will send a request to Cognito to get the latest user data.
    });
    console.log(user);
	console.log("hello")
  } catch(err) {
    console.log(err);
  }
};

currentAuthenticatedUser()

---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<script>
		(window as any).global = window;
		var exports = {};
	  </script>
	<body>
		<Header title={SITE_TITLE} />
		<form method="post" action="/logout">
			<input type="submit" value="Sign out" />
		</form>
		<main>
			<h1>Welcome to Our Astro Website!</h1>
			<section>
				<p>
					This is a starter template for deploying Astro websites with AWS Amplify authentication right out of the box. Customize it to build your own website!
				</p>
			</section>
	
			<section>
				<h3>Get Started</h3>
				<p>
					Ready to launch your website? Follow the README guide to deploy your Astro site on AWS with authentication.
				</p>
			</section>
			<section>
				<p>Get started by editing this page in <code>src/pages/index.astro</code></p>
			</section>
		</main>
		<Footer />
	</body>
</html>
